exportPattern("^[[:alpha:]]+")
import(igraph, Matrix,  methods)
importFrom("graphics", plot)
importFrom("matlab", zeros)
importFrom("expm",'%^%')
exportMethods(
    "*",
    "^",
    "==",
    "absorbingStates",
    "coerce",
    "dim",
    "initialize",
    "plotMc",
    "print",
    "show",
    "states",
    "steadyStates",
    "t",
	"[",
    "transitionProbability" 
)
exportClasses(
    "markovchain",
     "markovchainList" 
)
